*,
html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: whitesmoke;
}

.navbar-container {
    background-color: black;
    width: 100%;
    height: 13vh;
}

.ul-navbar {
display: flex;
height: 100px;
justify-content: center;
align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 10px;
    margin: 20px;
    color: white;
    font-size: 20px;
}

.li-navbar:hover {
    background-color: grey;
}


.a-navbar {
color: white;
text-decoration: none;
font-weight: 800;
}


.gambar-container {
background-color: grey;
display: flex;
flex-direction: column;
font-size:600%;
font-family: forte;
justify-content: center;
align-items: center;
height: 80vh;
}

.img-content {
    width: 40%;
    height: 80%;
}


.container-footer {
height: 10vh;
background-color: palegoldenrod;
display: flex;
justify-content: center;
align-items: center;
}


.description {
height: 10vh;
background-color: palegoldenrod;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
}












/* login */

a {
    text-decoration: none;
}

body {
    background: -webkit-linear-gradient(bottom, palegoldenrod, grey);
    background-repeat: no-repeat;
}

label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}

#forgot-pass {
    color: red;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}

#card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.65);
    height: 100px;
    margin: 6rem auto 8.1rem auto;
    width: 100px;
}

#card-content {
    padding: 12px 44px;
}

#card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

#signup {
    color: red;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}

#submit-btn {
    background: -webkit-linear-gradient(right, palegoldenrod, grey);
    border-radius: 21px;
    border: none;
    box-shadow: 0px 1px 8px black;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}

#submit-btn:hover {
    box-shadow: 0px 1px 18px #ffff;
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.form-border {
    height: 1px;
    width: 100%;
    background: -webkit-linear-gradient(right, palegoldenrod, grey);
}

.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

.underline-title {
    background: -webkit-linear-gradient(right, palegoldenrod, grey);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}













/* about */

.bg-warna {
    background-color: grey;
    display: flex;
    flex-direction: column;
    font-size:90%;
    font-family: Times New Roman;
    justify-content: center;
    align-items: center;
    height: 100vh;
}









/*contact person*/

.latar {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-wa {
    height: 50%;
    width: 50%;
}